backup

# PyCharm
.idea/
*.iml
*.iws
.pytest_cache/

# C++
build/
cmake-build-debug/
cmake-build-release/
.vscode/
*.pyc
*.pyo
*.egg-info
*__pycache__/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ncb
*.suo
*.pdb
*.local.xml
*.user
*.userosscache
*.sln
*.sw?

# debug information files
*.dwo
# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
